<div id="contactbox">
              
<h1>Contact Me</h1><br>

	<p>Want to find out more? Send an email using the button below. I'll be in touch!</p><br>

  <p><a class="btn btn-default" href="mailto:alexandramaecoleman@gmail.com?subject=Website Enquiry" role="button"><span class="glyphicon glyphicon-envelope"></span> alexandramaecoleman@gmail.com </a></p>


  <p><br><br><span class="glyphicon glyphicon-home"></span> London, UK </p>
  <p><span class="glyphicon glyphicon-user"></span> Alexandra Coleman </p>
        
</div>